input(
    value=url
    placeholder='Soundcloud playlist url or user, e.g: https://soundcloud.com/calvein/sets/mixtapes'
    autofocus
)
a(
    href='#'
    data-link='delete'
    title='Remove all tracks'
) ×