input(
    type='url'
    value=url
    placeholder='Soundcloud playlist or user, e.g: calvein/mixtapes'
    formnovalidate
    autofocus
)
a(
    href='#'
    data-link='delete'
    title='Remove all tracks'
) ×