li.tracks-gradient: svg
    linearGradient(id='gradient-played', x2='0%', y2='100%')
        stop(offset='0%',   style='stop-color:#ff6800')
        stop(offset='100%', style='stop-color:#ff3400')

for track in tracks
    li(data-track=track.id).track.showing: figure
        button.track-play
            img(src=track.getImage()).track-image
        figcaption
            .track-details
                a(href=track.getUrl('user')).track-details-user= track.getUsername()
                a(href=track.getUrl()).track-details-title= track.getTitle()
            .track-waveform
            .track-duration= track.getDuration('mm:ss')
        .track-links
            if track.isDownloadable()
                a(
                    href=track.getDownloadUrl()
                    data-link='download'
                    title='Download track'
                ) ⬇
            a(
                href='#'
                data-link='delete'
                title='Remove track from queue'
            ) ×
